* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Georgia' , 'Georgia', 'Georgia', 'Georgia','Georgia', sans-serif;
    line-height: 1.5;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 15px;
  }
  
  h1 {
    size: 5px; 
    padding: 30px;
  }
  
  p {
    margin: 0;
  }

  /*Header ----- */
  
    /*Navbar ---*/
    .navbar {
      padding-top: 15px;
      font-family: 'Georgia', 'Georgia', 'Georgia', 'Georgia', sans-serif;
      font-size: 15px; 
    }
  
    a {
      color: #ffffff;
      text-decoration: none;
    }
  
    li:hover {
      box-shadow: inset 20px 20px 20px rgba(97, 175, 183, 0.26);
      border-radius: 15px;
    }
  
  /*Jumbotron ----- */
  .jumbotron {
    background-image: url(../images/wavy.gif);
    background-size:cover;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 90%;
  }

  .display-4 {
    font-size: 30px;
    color: rgb(255, 255, 255);
  }

  .lead {
    color: rgb(255, 255, 255);
    size: 5px;
  }
  
  /* Main Sections  ------*/
    /*work*/
    
    .card {
        margin-bottom: 40px;
        background-image: linear-gradient(
            rgba(40, 99, 89, 0.402) 80%,
            rgba(53, 118, 150, 0.155) 100%
        );
        border-color: rgb(126, 160, 159);
        }
    
        .card:hover {
        box-shadow: inset 0px 0px 10px rgba(60, 137, 153, 0.273), 0px 0px 10px rgba(48, 86, 107, 0.422);
        }
        
    .card-title, .card-text {
      color:rgb(255, 255, 255);
    }
        
    h2,.center {
            display: block;
            justify-content: center;
        }

    /*skills*/
    #skill {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        justify-content: center;
    }

    #skilldescription {
        width: 90%;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(68, 66, 66);
        justify-content: center;
        align-items: center;
        padding-bottom: 30px;
    }

  /*Footer*/
    .grid2 {
    margin: 0px 5%;
    display:grid;
    grid-template-rows: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "ab co"
    ;
    }   

    #about{
        grid-area:ab;
      }
    #contact{
        grid-area:co;
      }

    /*about*/
    .avatar, #center {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 40px;
    opacity: 75%;
    }

    #aboutdescription {
        width: 80%;
        margin-left: 40px;
        margin-right: auto;
        color: rgb(68, 66, 66);
        justify-content: center;
        padding-bottom: 30px;
    }

    /*contact*/
    #vbmessage {
      padding: 15px;
    }
  
    form {
      margin: 30px auto;
      padding: 45px;
      border: 1px solid #F2F2F2;
      -webkit-box-shadow: 0 1px 4px black;
      -moz-box-shadow: 0 1px 4px rgba (0,0,0,0.3);
      box-shadow: 0 1px 4px rgba (0,0,0,0.1), 0 0 40px rgba(0,0,0,0.1);
      background-image: linear-gradient(
        rgba(65, 142, 129, 0.3) 80%,
        rgba(53, 118, 150, 0.6) 100%
        );
    }
  
    #message {
      height: 200px;
    }
  
    .btn {
        margin-top: 10px;
        background:rgb(255, 255, 255);
        color: rgb(75, 133, 139);
        border-color: aliceblue;
    }

    .btn:hover{
        box-shadow: 0 1px 4px rgba(169, 229, 236, 0.913), 0 0 40px rgb(147, 179, 197);
        background-color: rgb(62, 121, 139);
        color: rgb(255, 255, 255);
        border-color: rgb(73, 145, 159);
    }